.portfolio {background:mediumaquamarine;
    h2 {padding:10px 0;text-align:center;}
    .list {width:1000px;margin:0 auto;
        >li {display:inline-block;width:230px;height:500px;vertical-align:top;}
    }
}